<div class="container">
  <h1>Editing Book</h1>
  
  <%= form_with model: @book,url: book_path(@book.id), method: :patch do |f| %>
  
  <% if @book.errors.any? %>
    <table class="table-errors">
      <thead>
        <tr>
          <th class="table-errors-heading">
            <%= @book.errors.count %> error prohibited this book from being saved:
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-errors-text">
            <ul>
              <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </th>
        </tr>
      </tbody>
    </table>
  <% end %>
  
  <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
  </div>
  
  <div class="actions">  
    <%= f.submit 'Update Book' %>
  </div>  

  <% end %>
</div>  

<div class="container">
  <%= link_to("Show",book_path(@book.id)) %> | <%= link_to("Back", books_path) %>
</div>  